@font-face {
    font-family: 'Delight-Candles';
    font-style: normal;
    font-weight: 400;
    src: local('Delight-Candles'),
      url(font/Delight-Candles.ttf) format('truetype');
  }

  .header-nav {
    text-align: center;
    background-color:lightcoral;
    font-family: "Delight-Candles";
    text-decoration: none;
    color: white;
    position: sticky;
    border-radius: 30px;
    margin: 50px 20px;
    top: 0;
    left: 0;
    right: 0;




}
.header-nav a {
   margin: 15px;
   background-color:lightcoral;
color: white;}


.header {
    background-color: lightcoral; 
    display: flex;
    align-items: center;
    margin: 50px 20px;
    color: white;
    font-size: 40px;
    font-family: "Delight-Candles";
    border-radius: 30px;
    
}

h2 {color: white;
    font-family: "Delight-Candles";
}

main {
    background-color: lightcoral;
    margin:50px 20px;
    text-align: center;
    border-radius: 30px;
    font-family: "Delight-Candles";
    color: white
    ;
}

.pic1 {clip-path:ellipse(50% 30%);
    margin-left: 10%;}
.pic2
{clip-path:ellipse(50% 50%);
    align-content: center;
}

h1{    margin-left: 13%;

 ;}
 footer{ background-color: lightcoral;
    margin:50px 20px;
    text-align: center;
    border-radius: 30px;
    font-family: "Delight-Candles";
    color: white;
    text-decoration: none;}